
<h1><%= @the_user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%= @the_user.private %></dd>

  <dt>Followers</dt>
  <dd>
    <%= FollowRequest.where({ :recipient_id => @the_user}).where({ :status => "accepted"}).count %>


      <div>
          <a href="/delete_follow_request/2027">
            Unfollow
          </a>
    </div>

  </dd>

  <dt>Following</dt>
  <dd><%= FollowRequest.where({ :sender_id => @the_user}).where({ :status => "accepted"}).count %></dd>

</dl>

<nav>
  <ul>
    <li>
      <a href="/users/austin">Profile</a>
    </li>
    <li>
      <a href="/users/austin/liked_photos">Liked photos</a>
    </li>
    <li>
      <a href="/users/austin/feed">Feed</a>
    </li>
    <li>
      <a href="/users/austin/discover">Discover</a>
    </li>
  </ul>
</nav>

<h2>Own photos (<%= @the_user.photos.count %>)</h2>

<table border="1">
  <tr>

    <th>
      Caption
    </th>

    <th></th>
  </tr>

<% @list_of_photos.each do |a_photo| %>
  <tr>
      <td>
        <%= a_photo.caption %>
      </td>
    </tr>
<% end %>
