<div>
  <div>
    <h1>
      List of photos
    </h1>
  </div>
</div>

<hr>
<% if @current_user == nil%>
<% else %>
<div>
  <div>
    <h2>
      Add photo
    </h2>

    <form action="/insert_photo" method="post" enctype="multipart/form-data" class="form-horizontal">

        <label for="caption_box">
          Caption
        </label>

        <textarea id="caption_box" name="query_caption" rows="3"></textarea>

        <label for="image_box">
          Image
        </label>

        <input type="file" id="image_box" name="query_image" class="form-control">

        <input type="hidden" value="<%= @current_user.id %>" name="query_owner_id">

      <button>
        Add photo
      </button>
    </form>
  </div>
</div>
<% end %>
<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Caption
        </th>

        <th>
          Comments count
        </th>

        <th>
          Image
        </th>

        <th>
          Likes count
        </th>

        <th>
          Owner
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>
      
      <% @list_of_photos.each do |a_photo| %>
      <tr>
      <% if a_photo.owner.private == true %>

      <% else %>
        <td>
          <%= a_photo.id %>
        </td>

        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <%= a_photo.comments_count %>
        </td>

        <td>
          <img src="<%= a_photo.image %>" class="img-responsive">
        </td>

        <td>
          <%= a_photo.likes_count %>
        </td>

        <td>
          <%= a_photo.owner_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_photo.updated_at) %> ago
        </td>

        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
      <% end %>
    </table>
  </div>
</div>

<hr>
